*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.color-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    color: #ffffff;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    border: 0;
}
.btn-secondary{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    border-radius: 5px;
    color: #FD6E0A;
    padding: 18px 36px;
    border: 1px solid #FD6E0A;
}
.heading-secondary{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
}


/* Header Section */
header{
    background-color: #FFF8F3;
    
}
.header{
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin: 0 0 25px 16px;
    width: 100%;
    height: auto;
}
nav{
    padding: 50px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-heading{
    font-size: 45px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px
}
.nav-link{
    list-style: none;
    font-size: 20px;
}

.banner{
    padding: 50px 220px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.banner-content{
    width: 585px;
}
.banner-heading{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
}
.banner-sub-heading{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-text{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0 30px 0;
}

/* About Section */
.about{
    margin: 99px auto;
    padding: 130px 156px;
    background: #FFF8F3;
    width: 1140px;
    height: 550px;
    border-radius: 10px;
}
.about-text{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin: 30px 0;
}
.about-info{
    display: flex;
    width: 784px;
    justify-content: space-around;
    text-align: center;
    line-height: 30px;
}
.info-heading{

}
.info-contact{

}